<main class="main">
  <div class="content">

    <div class="header">
      <img class="header-image"
        src="assets/logo.svg"
        alt="logo"
        (click)="cleanExchangeRate()" />
      <div class="header-divider"></div>
      <h2 class="header-h2">
        BRL EXCHANGE RATE
      </h2>
    </div>
    <div class="page-content">
      <div class="search">
        <div class="search-input">
          <input type="text"
            matInput
            [(ngModel)]="currencyCode"
            placeholder=""
            required>
          <label>Enter the currency code</label>
        </div>

        <button class="search-button"
          (click)="getCurrentExchangeRate()">
          EXCHANGE RESULT
        </button>

      </div>
      <div class="result"
        *ngIf="exchangeData!=null">
        <div class="result-divider">
        </div>
        <div class="result-header">
          <div class="result-header-text">

            <div class="result-header-text-title">
              Exchange rate now
            </div>
            <div class="result-header-text-subtitle">
              {{ formatDateAndHour(exchangeData.lastUpdatedAt) }}
            </div>
          </div>
          <div class="result-header-symbols">
            {{exchangeData.toSymbol}}/{{exchangeData.fromSymbol}}
          </div>
        </div>
        <div class="result-exchange">
          {{ exchangeData.exchangeRate | currency:'BRL':'symbol':'1.2-2' }}

        </div>
      </div>
    </div>
    <div class="history"
      *ngIf="exchangeData!=null">
      <div class="history-header"
        (click)="toggleDailyExchangeRate()">
        LAST 30 DAYS
        <button *ngIf="isHistoryOpen">
          <mat-icon>remove</mat-icon>
        </button>
        <button *ngIf="!isHistoryOpen">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="history-list"
        *ngIf="isHistoryOpen">

        <div *ngFor="let rate of dailyData; let i = index">
          <div class="history-list-item"
            *ngIf="i < dailyData.length - 1">

            <div class="history-list-item-date">
              {{ formatDate(rate.date) }}

            </div>
            <div class="history-list-item-line">
              <div class="history-list-item-label">OPEN:</div>
              <div class="history-list-item-value">{{ rate.open | currency:'BRL':'symbol':'1.4-4' }}</div>
              <div class="history-list-item-label">HIGH:</div>
              <div class="history-list-item-value">{{ rate.high | currency:'BRL':'symbol':'1.4-4' }}</div>
            </div>
            <div class="history-list-item-line">
              <div class="history-list-item-label">CLOSE:</div>
              <div class="history-list-item-value">{{ rate.close | currency:'BRL':'symbol':'1.4-4' }}</div>
              <div class="history-list-item-label">LOW:</div>
              <div class="history-list-item-value">{{ rate.low | currency:'BRL':'symbol':'1.4-4' }}</div>
            </div>
            <div class="history-list-item-line">
              <div class="history-list-item-label">CLOSE DIFF (%):</div>
              <div class="history-list-item-diff"
                [ngClass]="(getCloseDiff(i) ?? 0) >= 0 ? 'positive' : 'negative'">
                {{ getCloseDiff(i) | percent:'1.2-2' }}
              </div>
              <mat-icon class="history-list-item-icon"
                [ngClass]="(getCloseDiff(i) ?? 0) >= 0 ? 'positive' : 'negative'">
                {{ (getCloseDiff(i) ?? 0) >= 0 ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="history-divider"></div>
    </div>
    <div class="footer">Copyright 2022 - Action Labs</div>
  </div>
</main>



<router-outlet />